<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="listado-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }

      button {
        width: 100px;
        position: relative;
        top: 80px;
      }

      img {
        width: 50px;
        height: 80px;
      }
      table{
        position: relative;
        top: 50px;
      }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">



    <div class="container">
      <div class="row">
          <img src="https://www.tradeviewespanol.com/images/deposit/logo-bancomer.png" class="col-lg-8 col-xs-12">
          <br>
          <br>
          <br>

          <table class="table table-striped col-lg-4 col-xs-12">
            <thead>
              <th>Fecha del Movimiento</th>
              <th>Monto del Movimiento</th>
              <th>Tipo de Movimiento</th>
              <th>Tipo de Servicio</th>
              <th>Lugar del Movimiento</th>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{lismovimientos}}">
              <tr>
                <td><input type="date" data-date="" data-date-format="DD MMMM YYYY" value=[[item.fechamovimiento]] disabled="false"</label> </td>
                <td> [[item.montomovimiento]]</td>
                <td>[[item.tipomovimiento]]</td>
                <td>[[item.tiposervicio]]</td>
                <td><a href=[[item.lugarmovimiento]] target="_blank">Ver ubicación</a></td>
              </tr>
            </template>
              <tr>
                <td><button  class="btn-danger col-lg-4 col-xs-12" name="btnActualizarMov" on-click="ObternerMovimientos" >Actualizar Movimientos</button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

      </div>
        <!-- <td><button  class="btn-danger col-lg-4 col-xs-12" name="btnregistrarrmovimiento" on-click="registrarmovimiento" >Registrar Movimiento</button></td> -->

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class ListadoMovimientos extends Polymer.Element {
      static get is() { return 'listado-movimientos'; }
      static get properties() {
        return {
          lismovimientos:{
            type: Array,
            notify: true
          }
        };
      }
      registrarmovimiento(){
        this.prop6=true;

      }
      formateaFecha(fechaMovimiento){
        var date= new Date(fechaMovimiento);
        return new Intl.DateTimeFormat('es-MX').format(date);
      }

      ObternerMovimientos(){

      //  console.log(sessionStorage.getItem("idUsuario"));

        var request=new XMLHttpRequest();
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.open("GET","http://localhost:3000/movimientos/"+ sessionStorage.getItem("idUsuario"),false);
        //request.setRequestHeader("Accept","application/json");
        request.send();

        this.lismovimientos=JSON.parse(request.responseText);
        //console.log(this.clientes);
      }

    }

    window.customElements.define(ListadoMovimientos.is, ListadoMovimientos);
  </script>
</dom-module>
