<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="inicio-sesion">
  <template>
    <style>
      :host {
        display: block;

      }
      body {
        text-align: center !important;
      }
      .logo {
        width: 100px;
        height: 200px;

      }
      img {
        width: 250px;
        height: 250px;

      }
      div input {
        width: 40%;

      }
      div.container {
        padding: 0 15% 0 15%;
        width: 80%;

      }
      div.container > div.row{

        display: block !important;
        text-align: center !important;
      }
      div .registrarse {
        padding: 0 0 0 55%;
        width: 80%;
        color: blue;

      }
      div.log-in{
        padding: 0 0 0 55%;

      }


    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <div class="container">
      <div class="row">
            <img src="https://www.telefonos01800.com.mx/wp-content/uploads/2018/01/https-www-razon-com-mx-wp-content-uploads-2017-0-1024x683.jpeg" class="col-lg-8 col-xs-12" id="logo">
            <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="col-lg-8 col-xs-12" id="usuario">
      </div>
      <div class="row">
        <h2>INICIO DE SESION DE USUARIO</h2>
      </div>
      <div class="row">
          <input type="email" placeholder="[[prop1]]" name="" value="{{input1::input}}">
      </div>
      <div class="row">
        <input type="password" placeholder="[[prop2]]" name="" value="{{input2::input}}" >
      </div>
      <div class="registrarse" ><a href="registro.html" /><span>Registrarse</span></a></div>
      <div class="log-in">
        <button  class="btn-danger col-lg-4 col-xs-12" name="button" on-click="login">Entrar</button>
        <iron-ajax
          id="dataAjax"
          method="GET"
          handle-as="json"
          content-type="application/json"
          on-response="postComplete">
        </iron-ajax>
        <iron-ajax
          id="dataAjaxUserLog"
          method="PUT"
          handle-as="json"
          content-type="application/json"
          on-response="postCompleteU">
        </iron-ajax>
      </div>
    </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class InicioSesion extends Polymer.Element {
      static get is() { return 'inicio-sesion'; }
      static get properties() {
        return {
          input1: {
            type: String
          },
          input2: {
            type: String
          },
          prop1: {
            type: String,
            value: 'Usuario (Correo electronico)'
          },
          prop2: {
            type: String,
            value: 'Ingrese su contraseña'
          }
        };
      }

      postCompleteU(response){
        if(response.detail.response.length>0){
          //  console.log(response);

        }
          else {
              alert('El usuario o la contraseña son incorrectos');
            }
      }

      postComplete(response){
        if(response.detail.response.length>0){
            sessionStorage.setItem("idUsuario",response.detail.response[0].idUsuario)
            if(response.detail.response[0].usuariologueado===1){
                alert('El usuario ya cuenta con una sesión abierta');
            }
            else {
              var urlbase="http://localhost:3000/ausuarios/" + response.detail.response[0].idUsuario;
              var urlUserLog = {"$set" : {"usuariologueado": "1"}};
              this.$.dataAjaxUserLog.url= urlbase;
              this.$.dataAjaxUserLog.body=urlUserLog;
              //console.log(urlbase);

            //  this.$.dataAjaxUserLog.generateRequest();
              
              window.location.href="resumenmovimientos.html";
            }

        }
          else {
              alert('El usuario o la contraseña son incorrectos');
            }
      }

      login(){

        if (this.input1!=="" && this.input2!=="") {
          var urlbase="http://localhost:3000/cusuarios/"
          var urlfiltro=this.input1+"/"+this.input2;
          this.$.dataAjax.url= urlbase+urlfiltro;
          console.log(urlbase+urlfiltro);

          this.$.dataAjax.generateRequest();

        } else {
          alert('Por favor coplete los datos');
        }

      }
    }

    window.customElements.define(InicioSesion.is, InicioSesion);
  </script>
</dom-module>
