<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }


    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <div class="container">
      <h1 class="col-lg-12">Gestor de Clientes</h1>
      <button on-click="ObternerClientes">Obtener Clientes</button>
      <div class="row">
        <table>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td>[[item.idcliente]]</td>
              <td>[[item.nombre]]</td>
              <td>[[item.apellido]]</td>
            </tr>
          </template>
          </tbody>
        </table>
      </div>

    </div>


  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes:{
            type: Array,
            notify: true
          }
        };
      }

      ObternerClientes(){
        var request=new XMLHttpRequest();
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.open("GET","http://localhost:3002/movimientos",false);
        //request.setRequestHeader("Accept","application/json");
        request.send();

        this.clientes=JSON.parse(request.responseText);
        //console.log(this.clientes);
      }
    }



    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
