<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="registro-movimiento">
  <template>
    <style>
      :host {
        display: block;
        position:relative;
        top: 80px;
      }

      input {
        width: 400px;
      },
      button {
        width: 100px;
        align-middle;
      }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <div class="container">
      <div class="row">
          <table class="table table-striped col-lg-4 col-xs-12">
            <thead>
              <th><span>Registro de Movimientos</span></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>Monto del Movimiento</td>
                <td><input type="text" placeholder="[[prop1]]" name="" value="{{input1::input}}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Tipo de Movimiento</td>
                <td><select id="tipoMovimiento">
                    <option value="Depósito">Depósito</option>
                    <option value="Retiro">Retiro</option>
                </select> </td>
                <td></td>
              </tr>
              <tr>
                <td>Tipo de Servicio</td>
                <td><select id="tipoServicio">
                    <option value="Ventanilla">Ventanilla</option>
                    <option value="Cajero">Cajero</option>
                </select> </td>
                <td></td>
              </tr>
              <tr>
                <td>Lugar de Movimiento</td>
                <td><select id="lugarMovimiento">
                    <option value="Torre Bancomer">Torre Bancomer</option>
                    <option value="Parques Polanco">Parques Polanco</option>
                    <option value="Parque Delta">Parque Delta</option>
                    <option value="Antara Fashion Hall">Antara Fashion Hall</option>
                    <option value="Plaza Carso">Plaza Carso</option>
                    <option value="Perisur">Perisur</option>
                    <option value="Galerias Plaza de las Estrellas">Galerias Plaza de las Estrellas</option>
                    <option value="Centro Comercial Santa Fe">Centro Comercial Santa Fe</option>
                    <option value="Plaza Loreto">Plaza Loreto</option>

                </select> </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td> <!-- <button  class="btn-danger col-lg-4 col-xs-12" name="btnregresar" on-click="cancelar" >Cancelar</button> --> </td>
                <td><button  class="btn-danger col-lg-4 col-xs-12" name="btnenviar" on-click="guardarmovimiento" >Guardar Movimiento</button>
                <iron-ajax
                  id="dataAjax"
                  method="POST"
                  handle-as="json"
                  content-type="application/json"
                  url="http://localhost:3000/movimientos"
                  on-response="postComplete">
                </iron-ajax>
                </td>
                <td><button  class="btn-danger col-lg-4 col-xs-12" name="btnsalir" on-click="salir" >Salir</button></td>
              </tr>
            </tbody>
          </table>

      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroMovimiento extends Polymer.Element {
      static get is() { return 'registro-movimiento'; }
      static get properties() {
        return {
          input1: {
            type: Number
          },
          prop1:{
            type: String,
            value: 'Ingrese el Monto'
          }
        };
      }

      postComplete(response){
        alert('Se Guardo el Movimiento satisfactoriamente.');
      }
      guardarmovimiento(){
        if (this.input1>0) {

          var indexTipo= this.$.tipoMovimiento;
          console.log(this.$.tipoMovimiento.options[indexTipo.selectedIndex].text);

          var indexServicio= this.$.tipoServicio;
          console.log(this.$.tipoServicio.options[indexServicio.selectedIndex].text);

          var indexMovimiento= this.$.lugarMovimiento;
          console.log(this.$.lugarMovimiento.options[indexMovimiento.selectedIndex].text);
          var fechaActual=new Date();


          var movi={
            idcliente: parseInt(sessionStorage.getItem("idUsuario")),
            fechamovimiento: fechaActual.toISOString().slice(0,10) ,
            montomovimiento: this.input1,
            tipomovimiento: this.$.tipoMovimiento.options[indexTipo.selectedIndex].text,
            tiposervicio: this.$.tipoServicio.options[indexServicio.selectedIndex].text,
            lugarmovimiento: "https://www.google.com/maps/search/?api=1&query=" + this.$.lugarMovimiento.options[indexMovimiento.selectedIndex].text
          };


          this.$.dataAjax.body=movi;
          this.$.dataAjax.generateRequest();

        } else {
            alert('El Monto del Registro tiene que ser mayor a cero(0).');
        }

      }
      salir(){
        var opcion= confirm("¿Esta seguro que desea abandonar la Sesión?");
        if (opcion==true){
          sessionStorage.clear();
          window.location.href="index.html";
        }
      }
    }

    window.customElements.define(RegistroMovimiento.is, RegistroMovimiento);
  </script>
</dom-module>
