<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="registro-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
      img {
        width: 50px;
        height: 80px;
      }
      input {
        width: 400px;
      },
      button {
        width: 100px;
        align-middle;
      }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <div class="container">
      <div class="row">
          <img src="https://www.tradeviewespanol.com/images/deposit/logo-bancomer.png" class="col-lg-8 col-xs-12">
          <table class="table table-striped col-lg-4 col-xs-12">
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>ID Usuario</td>
                <td><input type="text" placeholder="[[prop0]]" name="" value="{{input0::input}}"></td>
              </tr>
              <tr>
                <td>Nombre</td>
                <td><input type="text" placeholder="[[prop1]]" name="" value="{{input1::input}}"></td>
              </tr>
              <tr>
                <td>Primer Apellido</td>
                <td><input type="text" placeholder="[[prop2]]" name="" value="{{input2::input}}"></td>
              </tr>
              <tr>
                <td>Segundo Apellido</td>
                <td><input type="text" placeholder="[[prop3]]" name="" value="{{input3::input}}"></td>
              </tr>
              <tr>
                <td>Correo (Usuario)</td>
                <td><input type="email" placeholder="[[prop4]]" name="" value="{{input4::input}}"></td>
              </tr>
              <tr>
                <td>Contraseña</td>
                <td><input id="contra" type="password" placeholder="[[prop5]]" name="" value="{{input5::input}}"></td>
              </tr>
              <tr>
                <td>Confirmación de Contraseña</td>
                <td><input id="recontra" type="password" placeholder="[[prop6]]" name="" value="{{input6::input}}"></td>
              </tr>
              <tr>
                <td><button  class="btn-danger col-lg-4 col-xs-12" name="btnregresar" on-click="regresar" >Regresar</button></td>
                <td><button  class="btn-danger col-lg-4 col-xs-12" name="btnenviar" on-click="enviar" >Enviar Datos</button>
                  <iron-ajax
                    id="dataAjax"
                    method="POST"
                    handle-as="json"
                    content-type="application/json"
                    url="http://localhost:3000/usuarios/"
                    on-response="postComplete">
                  </iron-ajax>
                </td>
                <td><button  class="btn-danger col-lg-4 col-xs-12" name="btnactualiza" on-click="actualizar" >Actualizar</button>
                  <iron-ajax
                    id="dataAjaxU"
                    method="PUT"
                    handle-as="json"
                    content-type="application/json"
                    url="http://localhost:3000/idUsuario"
                    on-response="postComplete">
                  </iron-ajax>
                </td>
              </tr>
            </tbody>
          </table>

      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroCliente extends Polymer.Element {
      static get is() { return 'registro-cliente'; }
      static get properties() {
        return {
          input0: {
            type: Number
          },
          input1: {
            type: String
          },
          input2: {
            type: String
          },
          input3: {
            type: String
          },
          input4: {
            type: String
          },
          input5: {
            type: String
          },
          input6: {
            type: String
          },
          prop0:{
            type: Number,
            value: 'Ingrese el ID'
          },
          prop1:{
            type: String,
            value: 'Ingrese su Nombre'
          },
          prop2: {
            type: String,
            value: 'Ingrese su Primer Apellido'
          },
          prop3:{
            type: String,
            value: 'Ingrese su Segundo Apellido'
          },
          prop4:{
            type: String,
            value: 'Ingrese su correo electronico'
          },
          prop5:{
            type: String,
            value: 'Ingrese su contraseña'
          },
          prop6:{
            type: String,
            value: 'Ingrese su contraseña'
          }
        };
      }

      regresar(){

        var opcion= confirm("¿Esta seguro que desea abandonar el Registro?");
        if (opcion==true){
          window.location.href="index.html";
        }

      }

      postComplete(response){
        alert('Se Usuario se Registro satisfactoriamente.');
        window.location.href="index.html";
      }

      enviar(){
        if (this.input5 === this.input6)  {
          var usu={
            idUsuario: this.input0,
            nombre: this.input1,
            apellido1: this.input2,
            apellido2: this.input3,
            correoUsuario: this.input4,
            contra: this.input5,
            usuariologueado: 0
          };
          this.$.dataAjax.body=usu;
          this.$.dataAjax.generateRequest();

        }
        else {
          alert('Las contraseña no coincide con la confirmacion de la contraseña');
        }

      }

      actualizar(){
        var usu={
          usuariologueado: 1
        };
        this.$.dataAjax.body=usu;
        this.$.dataAjax.generateRequest();
      }
    }

    window.customElements.define(RegistroCliente.is, RegistroCliente);
  </script>
</dom-module>
